<div class="home-container">
    <div class="home-top">
        <div class="top-left">
            <div class="heading">EFFICIENT <br> HR SERVICES</div>
            <div class="top-right-mb">
                <img class="top-img" src="https://iconflux.com/uploads/enterprise/hrms-solution-1165440796.webp" alt="">
            </div>
            <div class="sub-head">Our team of experts understand the complexities of Labour law compliance and Industrial compliance
                laws in India. They are qualified professionals from varied backgrounds including Regulation,
                Compliance, Legal, Risk Management and Human Resources Management. <br> We are committed to
                achieve &#39;CUSTOMER SATISFACTION&#39; by offering highly knowledge driven services through well-defined
                processes, customization and professionalism. We ensure continual improvement through total
                employee involvement and knowledge enhancement.</div>
        </div>
        <div class="top-right">
            <img class="top-img" src="https://iconflux.com/uploads/enterprise/hrms-solution-1165440796.webp" alt="">
        </div>
    </div>

    <div class="home-body">
        <div class="our-services">
            <div class="title"> Our Services</div>
            <div class="service-card">
                <div class="card" *ngFor="let service of SERVICES_LIST">
                    <div>{{service}} </div>
                </div>
            </div>
        </div>

        <div class="our-services">
            <div class="title"> Partner / Associates</div>
            <div class="service-card">
                <div class="pa-card" *ngFor="let pa of partnerAssociates">
                    <div>{{pa}} </div>
                </div>
            </div>
        </div>
    </div>
</div>
