<div class="home-container">
    <div class="home-top">
        <div class="top-left">
            <div class="heading">EFFICIENT HR Services</div>
            <div class="sub-head">Our team of experts understand the complexities of Labour law compliance and Industrial compliance
                laws in India. They are qualified professionals from varied backgrounds including Regulation,
                Compliance, Legal, Risk Management and Human Resources Management. <br> We are committed to
                achieve &#39;CUSTOMER SATIFACTION&#39; by offering highly knowledge driven services through well-defined
                processes, customization and professionalism. We ensure continual improvement through total
                employee involvement and knowledge enhancement.</div>
        </div>
        <div class="top-right">
            <img class="top-img" src="https://iconflux.com/uploads/enterprise/hrms-solution-1165440796.webp" alt="">
        </div>
    </div>
</div>
