<div class="home-container">
  <div class="home-top">
      <div class="top-left">
          <div class="heading">SERVICES</div>
          <div class="top-right-mb">
              <img class="top-img" src="https://iconflux.com/uploads/enterprise/hrms-solution-1165440796.webp" alt="">
          </div>
          <div class="sub-head"><b>Spread and variations in the state-wise laws has a big challenge in ensuring compliance.</b> <br>
            We take care of all aspects of statutory compliances from the registration of an establishment/branch to handling of inspections by government officials.
            We’ll be updated with changes to the rules and legislations for appropriate timely decisions and actions, thereby ensuring total compliance.
            Our deep expertise in HR statutory compliance and pan India presence enables us to offer a single window partnering platform for companies that have their establishments spread across various states..
          </div>
      </div>
      <div class="top-right">
          <img class="top-img" src="https://iconflux.com/uploads/enterprise/hrms-solution-1165440796.webp" alt="">
      </div>
  </div>

  <div class="home-body">
      <div class="our-services">
          <div class="title"> Our Services</div>
          <div class="service-card">
              <div class="card" *ngFor="let service of SERVICES_LIST">
                  <div>{{service}} </div>
              </div>
          </div>
      </div>
  </div>
</div>
